.bg-name-container {
  position: relative;
  .app-name {
    position: absolute;

    transform: translateX(-50%);
    left: 50%;
    top: 30%;
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 5.28px;
    color: #fff;
  }
  .bg-desktop-light {
    @include bg-image(desktop);
    width: 100vw;
    height: calc(140px + 9vw); //further improvments
  }
}

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  height: 200px;
  background-color: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 0.875rem 2.1875rem rgba(0, 0, 0, 0.25);
  font-family: "Josefin Sans", sans-serif;
  margin: auto;
  position: relative;
  transform: translateY(-40%);

  form {
    display: flex;
    flex-direction: column;
    & input::placeholder {
      font-family: "Josefin Sans", sans-serif;
    }
  }
}
