@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import "./partials/variables";
@import "./partials/header";
@import "./partials/user";
@import "./partials/background-image";
@import "./partials/auth";
@import "./partials/todo-section";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $veryLightGray;
  height: 100vh;
  overflow-x: hidden;
}
